*{
    margin:0;
    padding:0;
}
/* Login page starts */
body{
    background-color: grey;
}

.form-control{
    width:350px
}
.formstyle{
    /* border:2px solid black; */
    float:right;
    margin-top:130px;
    margin-right:80px;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray;
}

.btn{
    border:2px solid white;
    margin-top:10px
}

#ToDo{
    /* border:2px solid black; */
    float:left;
    font-size: 180px;
    font-family: Arial, Helvetica, sans-serif;
    color:white;
    letter-spacing: 5px;
    margin-top:60px;
    margin-left:100px;
}
/* Login page ends */
/* Main page starts*/
.mainpage{
    background-color: white;
}
.navbar{
    background-color: grey;
}

.nav-item{
    border:2px solid black;
    border-radius: 15px;
    padding:3px;
    margin-top:20px;
    margin-left:30px
}
.nav-item:hover{
    background-color:white;
}
.navbar-nav{
    /* border:2px solid black; */
    margin-left:700px;
}

.rowfortodo{
    color:black;
    text-align: center;
}
#headingtodo{
    font-size: 20px;
}