/* applicable to whole page(universal selector) */
*{
    margin:0;
    padding:0;
}
body{
     background-image:url(imgfiles/manavalan.jpg);
     /* background-repeat:repeat; */
     background-size:cover
     
    }
    /* header start */
header{
    background-color:rgb(0, 0, 0);
    height:80px;
    border:1px solid violet
}
header nav{
    /* border:1px solid white; */
    float:right;
    margin-top:35px;
    margin-right:50px;
    
}
header nav a{
    color:violet;
    border:1px solid violet;
    padding:10px;
    margin-right: 3px; 
    text-decoration: none;  
}
header nav a:hover{
    background-color: violet;
    color:black;
    transition:0.5 ease-in-out;
    
}

#headerimg{
    border:1px solid violet; 
    background-color: violet;;
    padding:0.5px;
    margin-top:4px;
    margin-left:70px
}
/* header end */

/* aside start */
/* .aside{
    position: relative;
    color:black
}
#asideimage{
    margin-left:-50px
}
.asidecontent {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translate(-50%, -50%);
} */

 .aside{
    position:relative;
    color:white; 
 }
#asideimage{
    /* border:2px solid white; */
    margin-left:-30px;

}
.asidecontent{
    position:absolute;
    bottom:180px;
    left:80px; 
 }

#asideheading{
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    color: transparent;
    margin-left:-20px;
    border:2px solid white;
    
    
}
#asideheading:hover{
    color:white;
    background-color:azure;
    border: 2px solid white;
    
}
.asidecontent ul{
    /* border:2px solid; */
    font-size: small;
    margin-bottom:
}

.asidecontent li{
    list-style-type: square;
    color:azure;
    margin-left:-10px;


}
